fastapi
uvicorn[standard]
python-multipart
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-groq
langchain-google-genai
google-genai
pinecone
pdfplumber
pypdf
python-dotenv
pydantic
requests
tqdm
pillow